# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.cache

# Logs
*.log
app_debug.log
main_debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env*

# Project specific
labelImg/
node_modules/
runs/
train/
val/
dataset/
utils/

# Build artifacts
*.spec.bak